In [1]:
import numpy as np
import pandas as pd

In [2]:
# Loading datasets
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

# Reasoning

After abandoning this project for a long time, I wanted to finish it. However, despite my notes, I was not really sure what my thought process was when I last worked on it. Therefore, I wanted to start the project again, incorporating my old code wherever I could, but with a clearer understanding of what I wanted to do and how I would achieve it. I started again on 5/15/24 and aim to finish by 5/20/24. The steps I intend to complete are:

- Beginning model using rule-based constraints
- decision tree
- random forest
- cleaning and more thorough EDA
- rerun dt and rf models
- feature engineering
- rerun dt and rf models
- hyperparamter tuning
- final dt and rf models

I also intend to submit my models to kaggle with an aim of getting to at least 97.5% accuracy. I am unsure how many times I will submit, but hopefully at least once per data improvement stage.

In [3]:
# Overall

overall_survival_rate = sum(train['Survived'])/len(train['Survived'])
print(f'The overall survival rate for the test set: {overall_survival_rate:.2%}')

The overall survival rate for the test set: 38.38%

In [4]:
# men vs female

women = train.loc[train['Sex'] == 'female']['Survived']
women_survival_rate = sum(women)/len(women)
print(f'The percentage of women that survived: {women_survival_rate:.2%}')

men = train.loc[train['Sex'] == 'male']['Survived']
men_survival_rate = sum(men)/len(men)
print(f'The percentage of men that survived: {men_survival_rate:.2%}')

The percentage of women that survived: 74.20%
The percentage of men that survived: 18.89%

In [8]:
# young vs old

young = train.loc[train['Age'] < 16]['Survived']
young_survival_rate = sum(young)/len(young)
print(f'The percentage of young passengers that survived: {young_survival_rate:.2%}')

old = train.loc[train['Age'] >= 16]['Survived']
old_survival_rate = sum(old)/len(old)
print(f'The percentage of old passengers that survived: {old_survival_rate:.2%}')

The percentage of young passengers that survived: 57.97%
The percentage of old passengers that survived: 38.76%

In [22]:
# Women and Children

women_and_children = train.loc[(train['Age'] < 16) | (train['Sex'] == 'female')]['Survived']
women_and_children_survival_rate = sum(women_and_children)/len(women_and_children)
print(f'The percentage of women and children that survived: {women_and_children_survival_rate:.2%}')


not_women_and_children = train.loc[~((train['Age'] < 16) | (train['Sex'] == 'female'))]['Survived']
not_women_and_children_survival_rate = sum(not_women_and_children)/len(not_women_and_children)
print(f'The percentage of older men that survived: {not_women_and_children_survival_rate:.2%}')

The percentage of women and children that survived: 71.75%
The percentage of older men that survived: 16.39%

In [31]:
# Confusion Matrices
 
pred_women_list = [1 if row['Sex'] == 'female' else 0 for index, row in train.iterrows()]
pred_young_list = [1 if row['Age'] < 16 else 0 for index, row in train.iterrows()]
pred_women_and_children_list = [1 if (row['Sex'] == 'female' or row['Age'] < 16) else 0 for index, row in train.iterrows()]

# add columns into df
train['pred_women'], train['pred_young'], train['pred_women_and_children'] = pred_women_list, pred_young_list, pred_women_and_children_list

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pred_women,pred_young,pred_women_and_children
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,0,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0,0

In [ ]:
# TODO use filter for test data and upload to kaggle for baseline